In [8]:
#assignment 23
#assignment 22
#assignment 21
#assignment 20
#assignment 19--->going to do
print("--------------------------------------")
print("Create a function that takes a number as an argument and returns True or False depending \n on whether the number is symmetrical or not.\n  A number is symmetrical when it is the same asits reverse.")
def abc(a):
    b=str(a)
    c=b[::-1]
    print(c)
    if(int(a)==int(c)):
        print(a,"==",c)
        return True
    else:
        print(a,"!=",c)
        return False
abc(12321)
abc(12567)
abc(4444444444)

Create a function that takes a number as an argument and returns True or False depending
 on whether the number is symmetrical or not.
  A number is symmetrical when it is the same asits reverse.
12321
12321 == 12321
76521
12567 != 76521
4444444444
4444444444 == 4444444444

True

In [13]:
print('Question 2')
print('Given a string of numbers separated by a comma and space, return the product of the numbers.')
print('Examples')
print('multiply_nums("2, 3") ➞ 6')
def calculate_product(number_string):
    a=number_string.split(',')
    pro=1
    for n in a:
        print(pro,"=",pro,"*",int(n))
        pro=pro*int(n)
    print("\n product of string number is =",pro)
    return True
print("----------------------------------------------------")
calculate_product("1, 2, 3, 4")   
calculate_product("-10 ,2")

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6
----------------------------------------------------
1 = 1 * 1
1 = 1 * 2
2 = 2 * 3
6 = 6 * 4

 product of string number is = 24
1 = 1 * -10
-10 = -10 * 2

 product of string number is = -20

True

In [9]:
print('Create a function that squares every digit of a number.\n Examples \n square_digits(9119) ➞ 811181')
def squaredigits(a):
    b=str(a)
    c=''
    for i in b:
        c=c+str(int(i)*int(i))
    return int(c)
squaredigits(9119)

Create a function that squares every digit of a number.
 Examples
 square_digits(9119) ➞ 811181

811181

In [22]:
print('Create a function that returns the mean of all digits. \n Examples  \n mean(42) ➞ 3')
def meansumofdigits(a):
    b=str(a)
    s=0
    for c in b:
        s=s+int(c)
    g=s/len(b)
    return 'mean of sum of digits = ',g
ss=meansumofdigits(1234)
print(ss)
print('--------------------------')
meansumofdigits(666)

Create a function that returns the mean of all digits.
 Examples
 mean(42) ➞ 3
('mean of sum of digits = ', 2.5)
--------------------------

('mean of sum of digits = ', 6.0)

In [24]:
print('Question 4 Create a function that sorts a list and removes all duplicate items from it.\n Examples\n setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]')
def sort_and_remove_duplicates(lst):
    sorted_lst = sorted(lst)  # Sort the list
    unique_lst = []
    for item in sorted_lst:
        if item not in unique_lst:
            unique_lst.append(item)  # Add unique items to the new list
    return unique_lst
my_list = [4, 2, 1, 4, 3, 2, 5, 1]
result = sort_and_remove_duplicates(my_list)
print(result)

Question 4 Create a function that sorts a list and removes all duplicate items from it.
 Examples
 setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
[1, 2, 3, 4, 5]

In [ ]:
##assignment 22

In [32]:
print('Question1')
print('Create a function that takes three parameters where:')
print(' x is the start of the range (inclusive).')
print(' y is the end of the range (inclusive).')
print(' n is the divisor to be checked against.')
print('Return an ordered list with numbers in the range that are divisible by the third parameter n.')
print('Return an empty list if there are no numbers that are divisible by n.')
print('list_operation(1, 10, 3) ➞ [3, 6, 9]')
def divisiblebyn(x,y,n):
    result=[]
    for i in range(x,y+1):
        if(i%n==0):
            result.append(i)
        
            
    return result
print('--------------------------------------------')
divisiblebyn(12,44,3)

Question1
Create a function that takes three parameters where:
 x is the start of the range (inclusive).
 y is the end of the range (inclusive).
 n is the divisor to be checked against.
Return an ordered list with numbers in the range that are divisible by the third parameter n.
Return an empty list if there are no numbers that are divisible by n.
list_operation(1, 10, 3) ➞ [3, 6, 9]
--------------------------------------------

[12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [35]:
"""Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. In other words, determine if the second list is the first list shifted to the right by 1.
Examples
simon_says([1, 2], [5, 1]) ➞ True

simon_says([1, 2], [5, 5]) ➞ False

simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True

simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
Notes
•	Both input lists will be of the same length, and will have a minimum length of 2.
•	The values of the 0-indexed element in the second list and the n-1th indexed element in the first list do not matter."""
def simon_says(list1, list2):
    if list2[1:] == list1[:-1]:
        return True
    else:
        return False
simon_says([1, 2], [5, 1])

True

In [13]:
print('Question3 \n A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order.\n Create a function that takes in a list of names and returns the name of the secret society.')
print('\n----------------------------------------question 3------------------------------------------------------------')
def secretsociety(aa):
    bb=sorted(aa)
    k=0;
    v=''
    for i in range(0,len(bb)):
        c=bb[i][0]
        v=v+c;
    print("sorted lis= ",bb,"\n firstletterfortheallthelist=",v)
secretsociety(["Adam", "Sarah", "Malcolm"])

Question3
 A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order.
 Create a function that takes in a list of names and returns the name of the secret society.

----------------------------------------question 3------------------------------------------------------------
sorted lis=  ['Adam', 'Malcolm', 'Sarah']
 firstletterfortheallthelist= AMS

In [56]:
print('An isogram is a word that has no duplicate letters.\n  Create a function that takes a string and returns either True or False depending on whether or not its an isogram')

def isograma(aa):
    bb = aa.lower()
    for i in range(len(bb)):
        for j in range(i + 1, len(bb)):
            if bb[i] == bb[j]:
                return False
    return True

print(isograma("Algorism"))  # True
print(isograma("PasSword"))  # False

An isogram is a word that has no duplicate letters.
  Create a function that takes a string and returns either True or False depending on whether or not its an isogram
True
False

In [15]:
print('Question5')
print('Create a function that takes a string and returns True or False, \n depending on whether the characters are in order or not.')
print('Examples')
print('is_in_order("abc") ➞ True')
print('is_in_order("edabit") ➞ False')
print("---------------------------------------------------")
s='a'
print(ord(s))
def ordered(aa):
    a=[]
    bb=list(aa)
    for i in range(0,len(bb)):
        a.append(ord(bb[i]))
    dd=sorted(a)
    print(dd)
    xy=''
    for k in range(0,len(bb)):
        if(dd[k]!=a[k]):
            print('\n the string is not in the order=',aa)
            return False
        else:
            print(dd[k],"==",a[k])
            print("\n string is in order=",aa)
            return True
print("-----------------------------")    
qs=ordered("edabit")
print(qs)
print("-------------------------")
pq=ordered("123")
print(pq)
print("----------------------------------")

Question5
Create a function that takes a string and returns True or False,
 depending on whether the characters are in order or not.
Examples
is_in_order("abc") ➞ True
is_in_order("edabit") ➞ False
---------------------------------------------------
97
-----------------------------
[97, 98, 100, 101, 105, 116]

 the string is not in the order= edabit
False
-------------------------
[49, 50, 51]
49 == 49

 string is in order= 123
True
----------------------------------

In [21]:
#assignment 21
print("Question1 \n Write a function that takes a list and a number as arguments.\n  Add the number to the end ofthe list, then remove the first element of the list. The function should then return the updatedlist.")
print('Examples')
print('next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]')
print('next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]')
print('next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]')
print('next_in_line([], 6) ➞ &quot;No list has been selected&quot;')
print("---------------------------------------------------------------------")
def updatethelist(abcd,q):
    if(abcd==[]):
        print('no list has been seleeted,cannot be appendee')
    else:
        abcd.remove(abcd[0])
        abcd.append(q)
        print("\n updated list is =",abcd)
        return abcd
updatethelist([],3)
updatethelist([1,2,3,4],89)

Question1
 Write a function that takes a list and a number as arguments.
  Add the number to the end ofthe list, then remove the first element of the list. The function should then return the updatedlist.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ &quot;No list has been selected&quot;
---------------------------------------------------------------------
no list has been seleeted,cannot be appendee

 updated list is = [2, 3, 4, 89]

[2, 3, 4, 89]

In [34]:
print('Question2')
print('Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.')
print('Examples')

print("----------------------------------------")
def abcdef(a):
    bud=0;
    for i in a:
        print(i)
        print("---------------")
        if 'budget' in i:
            #print(i['budget'])
            bud=bud+i['budget']
            #print("\n sum of the people budget = ",bud)
    print("\n sum of the people budget = ",bud)
print("_________________________________________________")
abcdef([{'name':'anusha','age':23,'budget':56000},{'name':'anu','age':67,'budget':78000}])

Question2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples
----------------------------------------
_________________________________________________
{'name': 'anusha', 'age': 23, 'budget': 56000}
---------------
{'name': 'anu', 'age': 67, 'budget': 78000}
---------------

 sum of the people budget =  134000

In [38]:
print('Create a function that takes a string and returns a string with its letters in alphabetical order.')
a='acbd'
def alphaorder(s):
    d=sorted(s)
    f=''
    for i in d:
        f=f+i;
    print("orginal string =",s,"sorted string =",f)
    return f
alphaorder('hello')
alphaorder('javascript')

Create a function that takes a string and returns a string with its letters in alphabetical order.
orginal string = hello sorted string = ehllo
orginal string = javascript sorted string = aacijprstv

'aacijprstv'

In [44]:
"""A = P * (1 + r/n)^(n*t)

Where:
A: The final value of the investment
P: The principal amount (initial investment)
r: The interest rate (in decimal form)
n: The number of compounding periods per year
t: The term in years"""
def compoundinterset(principle,time,rate,n):
    print("\n number of year--->the compounding period = ",n)
    amount=principle*((1+(rate/n))**(n*time))
    return amount
compoundinterset(29000,3,9.8,6)
compoundinterset(100, 1, 0.05, 1)

 number of year--->the compounding period =  6

 number of year--->the compounding period =  1

105.0

In [71]:
print('Question5')
print('Write a function that takes a list of elements and returns only the integers.')
#def listinteger(acd):
   # z=[]
   # for i in range(0,len(acd)):
        #if(acd[i]==int and acd[i]!=str):
           # print(acd[i])
           # z.append(acd[i])
    #return z
#def lint(acd):
    #for i in range(0,len(acd)):
        #print(acd[i])
        #if(acd[i]==int(acd[i]) and acd[i]!=str(acd[i])):
           # print(acd[i])
        #else:
            #print(acd[i],"--->it has string also")
def lint(a):
    z=[]
    for i in range(0,len(a)):
        if(type(a[i])==int):
            print(a[i])
            z.append(a[i])
    return "integers in the list is =",z
        
lint([9, 2, "abcdef", 16])

Question5
Write a function that takes a list of elements and returns only the integers.
9
2
16

('integers in the list is =', [9, 2, 16])

In [91]:
#assignment 20
#Create a function that takes a list of strings and integers, and filters out the list so that it
#returns a list of integers only.
def lint(a):
    z=[]
    p=[]
    for i in range(0,len(a)):
        if(type(a[i])==int):
            print(a[i])
            z.append(a[i])
    return "integers in the list is =",z
   
lint([9, 2, "abcdef", 16])

9
2
16

('integers in the list is =', [9, 2, 16])

In [100]:
print('Question2')
print('Given a list of numbers, create a function which returns the list but with each element \n index in the list added to itself. This means you add 0 to the number at index 0, add 1 to thenumber at index 1, etc..')   
print('Examples')
print('add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]')
print('add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]')
print('add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]')
def abcdef(a):
    z=1;
    ab=[]
    for i in range(0,len(a)):
        z=z+a[i]
        ab.append(z)
    return ab
abcdef([0,0,0,0,0])
aa=abcdef([1,2,3,4,5])
print(aa)

Question2
Given a list of numbers, create a function which returns the list but with each element
 index in the list added to itself. This means you add 0 to the number at index 0, add 1 to thenumber at index 1, etc..
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]
[2, 4, 7, 11, 16]

In [4]:
#question2
#Given a list of numbers, create a function which returns the list but with each element 
 #index in the list added to itself. This means you add 0 to the number at index 0, add 1 to thenumber at index 1
def abc(a):
    h=[]
    for i in range(0,len(a)):
        s=a[i]+i
        h.append(s)
    return h
abc([0,0,0,0,0])  
ss=abc([1,2,3,4,5])
print(ss)

[1, 3, 5, 7, 9]

In [6]:
#Question3
#Create a function that takes the height and radius of a cone as arguments and returns the
#volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
import numpy as np
def conee(radius,height):
    volume=(1/3)*(np.pi)*(radius**2)*height
    print("volume of cube when","radius is",radius,"height is",height,"volume of cube is",round(volume,3))
    return round(volume,3)
conee(24,45)

volume of cube when radius is 24 height is 45 volume of cube is 27143.361

27143.361

In [18]:
print("Question4")
"""This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220"""
print("________________________________________________________________________________________________")
def triangle(a):
    dd=a*(a+1)*(1/2);
    for i in range(round(dd)):
        print("*",end='')
    print()
    print(dd)
    return dd
triangle(13)
for k in range(0,12):
    triangle(k)

Question4
________________________________________________________________________________________________
*******************************************************************************************
91.0

0.0
*
1.0
***
3.0
******
6.0
**********
10.0
***************
15.0
*********************
21.0
****************************
28.0
************************************
36.0
*********************************************
45.0
*******************************************************
55.0
******************************************************************
66.0

In [19]:
#Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
#returns the missing number.
def find_missing_number(numbers):
    total_sum = sum(range(1, 11))  # Sum of numbers from 1 to 10
    list_sum = sum(numbers)  # Sum of the given list of numbers
    missing_number = total_sum - list_sum
    return missing_number
find_missing_number([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [ ]:
#assignment19